<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TransitionGraph -->
      <package
            uri="http://transitiongraph/1.0"
            class="transitiongraph.TGPackage"
            genModel="model/TransitionGraph.genmodel"/>
   </extension>

</plugin>
